In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [45]:
def load_data():
    df = pd.read_csv(os.path.join('data', 'twitter_training.csv'), names=['user', 'game', 'sentiment', 'tweet'])
    return df

df = load_data()
df.groupby('game').count()

                            user  tweet
game            sentiment
Amazon          Irrelevant   192    186
                Negative     576    575
                Neutral     1236   1207
                Positive     312    308
ApexLegends     Irrelevant   192    192
...                          ...    ...
Xbox(Xseries)   Positive     792    785
johnson&johnson Irrelevant   198    197
                Negative     846    845
                Neutral     1014   1013
                Positive     270    269

[128 rows x 2 columns]